<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    </system.web>

<connectionStrings><add name="Sys_DBEntities" connectionString="metadata=res://*/Data_Access.EDM_Sys_DB.csdl|res://*/Data_Access.EDM_Sys_DB.ssdl|res://*/Data_Access.EDM_Sys_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Sys_DB.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
